.flex-center {
	justify-content: center;
	align-items: center;
}

.active.no-touching {
	touch-action: unset;
	pointer-events: unset;
}
.no-touching {
	touch-action: none;
	pointer-events: none;
}

.bg-darker {
	background-color: $gray-900;
}

#menu {
	z-index: 10;
	opacity: 0;
	top: 45px;
	bottom: 0;
	width: 100vw;
	height: calc(100vh - 45px);
	overflow-y: auto;
	overflow-x: hidden;
	transition: all .5s ease-in-out;
	&.active {
		opacity: 1
	}
}
@include media-breakpoint-down(sm) { 
	.h-sm-100 {
		height: 100%;
	}
}
a {
	text-decoration: none;
}

.hamburger {
	z-index: 12;
	cursor: pointer;
}
.section {
	padding: 45px 0;
	min-height: 100vh;
	&.half {
		min-height: 50vh;
	}
}
#services {
	height: 100vh;
	overflow-y: scroll;
}
.snap-container {
	scroll-snap-type: y proximity;
	overflow-y: scroll;
	&.mandatory {
		scroll-snap-type: y mandatory;
	}
	.snap-point {
		scroll-snap-align: start;
	}
}