.chairman-wrapper {
	h1 {
		font-size: 2em;
		font-family: 'Roboto Condensed'
	}
	.image-container {
		position: relative;
		.blockquote {
			top: 0;
			left: 65%;
			position: absolute;
			width: 100%;
			p {
				font-size: 1.5rem;
				@media (min-width: 1200px) {
					font-size: 1.5em;
				}
			}
		}
	}
	.blockquote {
		background: rgba(249, 249, 249, 0.6);
		backdrop-filter: blur(10px);
		p {
			font-family: 'Roboto Condensed';
			font-size: 1.2em;
			line-height: 1.4;
		}
	}
	p {
		margin-top: 2em;
		line-height: 28px;
	}
}