.homepage-wrapper {
  //   @media (min-width: 768px) {
  //   	position: relative;
  //   	max-height: 100vh;
  //   	overflow-y: scroll;
  //   	scroll-snap-type: y mandatory;
		// .scroll-stop {
		// 	scroll-snap-align: start;
		// }
  //   }
	.key {
		font-size: .8em;
		margin-bottom: 1em;
	}
	.bg-img-bottom-right {
		background-position: 100% 50%;
		background-size: auto 100%;
		background-repeat: no-repeat;
	}
	#hero {
		background-image: url("../img/HD/P&G-Header.jpg");
		background-size: cover;
		.subtitle {
			font-size: .83em;
			letter-spacing: 0.2em;
		}
		@media (max-width: 768px) {
			background-position: 100% 100%;
			background-size: contain
		}
	}
	#live_enterprise {
		& > .row > div {
			position: relative;
			cursor: pointer;
			transition: background-size 1s ease-in-out;
			&:after {
				content: '\27F6';
				position: absolute;
				font-size: 2.5em;
				bottom: 1em;
				left: 1.6em;
				opacity: 0;
				transition: opacity .3s ease-in-out
			}
			&:hover {
				background-size: auto 110%;
				&:after {
					opacity: 1;
				}
			}
			@media (max-width: 768px) {
				&:after {
					left: .5em;
					bottom: .25em;
				}
				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					background-image: linear-gradient(0, rgba(0, 0, 0, 0) 25%, rgba(0,0,0,.5) 100%),
				}
			}
		}
		#instincts {
			background-color: #00AB8B;
			background-image: url("../img/HD/That's-Live-Enterprise-1.jpg");
		}
		#responding {
			background-color: #6E7275;
			background-image: url("../img/HD/That's-Live-Enterprise-2.jpg");
		}
		#talent {
			background-color: #017dc3;
			background-image: url("../img/HD/That's-Live-Enterprise-3.jpg");
		}
		#checkmate {
			background-color: #da8f1c;
			background-image: url("../img/HD/That's-Live-Enterprise-4.jpg");
		}
	}
	#people {
		.row > div {
			position: relative;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			.arrow {
				font-size: 2.5em;
				height: 0;
				overflow-y: hidden;
				transition: height .3s ease-in-out;
			}
			&:nth-of-type(1) {
				background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0,0,0,.8)), url("../img/HD/Chairman's-Message.jpg");
			}
			&:nth-of-type(2) {
				background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0,0,0,.8)), url("../img/HD/Letter-to-the-shareholder.jpg");
			}
			&:hover .arrow {
				height: 1em;
			}
		}
	}
	#trends {
		img {
			max-height: 25em;
		}
		#figures {
			& > div:nth-of-type(1) {
				background-color: #00AB8B;
			}
			& > div:nth-of-type(2) {
				background-color: #6D7275;
			}
			& > div:nth-of-type(4) {
				background-color: #DA8F1C;
			}
		}
	}
}