@keyframes fade-in {
	to {opacity: 1}
}
@keyframes dash {
	to {stroke-dashoffset: 0}
}
.graph-subtitle {
	font-size: .75em;
	color: #888;
}

.blockquote {
	position: relative;
	&:before {
		font-family: 'Roboto Condensed';
		content: '\201C';
		position: absolute;
		font-size: 4em;
		opacity: .4;
		top: -1rem;
		left: -2rem;
		@media (min-width: 768px) {
			left: -3rem;
		}
	}
}


.nandan {
	height: 4em;
	width: 4em;
	background: url('../img/HD/Nandan-Nilekani.jpg') no-repeat;
	background-position: 15% 90%;
	background-size: cover;
}
.annotation {
	color: #999;
	width: 100%;
	font-size: .5625em;
	margin: .75em 0 0;
}

.ct-grid, foreignObject, .ct-point, .ct-area, #digital-revenue .ct-label {
	opacity: 0;
}
.ct-point, .ct-bar {
	cursor: pointer;
}
.ct-bar {
	stroke-width: 40px;
}
.ct-series-b .ct-bar {
	stroke: #EEC759;
}

#digital-revenue .ct-series {
	.ct-slice-donut {
		stroke-dasharray: 125;
		stroke-dashoffset: 125;
		transition: stroke-dashoffset .4s ease-in-out;
	}
	&:nth-of-type(2) .ct-slice-donut {
		stroke-dasharray: 175;
		stroke-dashoffset: 175;
		transition-delay: .6s;
	}
	&:nth-of-type(3) .ct-slice-donut {
		stroke-dasharray: 200;
		stroke-dashoffset: 200;
		transition-delay: 1.2s;
	}
}
#tooltip {
	position: absolute;
	display: inline-block;
	opacity: 0;
	min-width: 6em;
	border-radius: .25em;
	background: #1757A6;
	border-top-color: #1757A6;
	color: #eee;
	font-weight: 700;
	text-align: center;
	z-index: 1;
	transition: opacity .3s ease-in-out;
	transform: translate(-30%, -130%);
	&.tooltip-show {
		opacity: 1;
	}
	span {
		display: inline-block;
		padding: .25em 1em;
		white-space: nowrap;
	}
	&:after {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		border: transparent;
		border-width: 10px;
		border-style: solid;
		border-top-color: inherit;
		top: 95%;
		left: 22%;
	}
}
.ct-area, .ct-line, .chartist-tooltip {
	pointer-events: none;
	touch-actions: none;
}

#digital-revenue .animate {
	.ct-series {
		.ct-slice-donut {
			stroke-dashoffset: 250;
		}
		&:nth-of-type(2) .ct-slice-donut {
			stroke-dashoffset: 350;
		}
		&:nth-of-type(3) .ct-slice-donut {
			stroke-dashoffset: 400;
		}
	}
	.ct-label {
		animation: fade-in .3s ease-in-out both;
		animation-delay: 2s;
	}
}

#revenue .ct-bar {
	stroke: #307EC3;
}

#profit {
	.ct-point {
		stroke: #e8913a;
		stroke-width: 15px;
	}
	.ct-line {
		stroke: #e8913a;
	}
	.ct-area {
		fill: #e8913a;
	}
}


.animate {
	.ct-grids .ct-grid {
		animation: fade-in .5s ease-in-out both;
	}
	.ct-series {
		&.ct-series-a .ct-bar {
			animation: dash 200ms ease-in-out both;
			@for $x from 1 through 6 {
				&:nth-child(#{$x}) {
					animation-delay: 100ms * ($x - 1) + 1000ms;
				}
			}
		}
		&.ct-series-b .ct-bar {
			animation: dash 200ms ease-in-out both;
			@for $x from 1 through 6 {
				&:nth-child(#{$x}) {
					animation-delay: 100ms * ($x - 1) + 1500ms;
				}
			}
		}
		.ct-point {
			animation: fade-in 100ms ease-in-out both;
			@for $x from 1 through 10 {
				&:nth-child(#{$x}) {
					animation-delay: 200ms * ($x - 1) + 1000ms;
				}
			}
		}
		.ct-line {
			animation: dash 1s ease-in-out both;
			animation-delay: 2s;
		}
		.ct-area {
			animation: fade-in .3s ease-in-out both;
			animation-delay: 2.5s;
		}
	}
	.ct-labels foreignObject {
		animation: fade-in 100ms ease-in-out both;
		@for $x from 1 through 20 {
			&:nth-child(#{$x}) {
				animation-delay: 50ms * ($x - 1) + 2000ms;
			}
		}
	}
}
