@import "navigation";
@import "search";

@import "homepage";
@import "chairmans-statement";
@import "intuition";
@import "downloads";

body {
	margin: 0;
	position: relative;
	overflow-x: hidden;
	
	&:after {
		content: '';
		z-index: 10;
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0);
		transition: background-color .3s ease-in-out;
		pointer-events: none;
		touch-actions: none;
	}
}
body.nav-open:after {
	background-color: rgba(0,0,0,.5);
}

.bg-theme-dark-blue {
	background-color: #031736;
}
.bg-theme-blue {
	background-color: #1757A6;
}
.bg-theme-green {
	background-color: #00AB8B;
}
.font-theme-blue {
	color: #1757A6;
}
.font-smaller {
	font-size: .9em;
}

h1, h2, h3, h4, h5 {
	font-family: Roboto Condensed;
}

.rupee:before {
	content: '\20B9';
}
.category-label {
	font-family: Gotham;
	font-weight: 500;
	font-size: .75em;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}