.navbar {
	transition: transform .3s linear;
	button {
		outline: none;
		border: none;
		font-size: 2em;
		line-height: 1.1em;
		transition: transform .3s linear;
	}
	img {
		height: 2.5em;
		width: auto;
		padding-left: 1em;
		@media (min-width: 768px) {
			padding: 0 1em;
		}
	}
	.search {
		line-height: 2.5em;
		position: relative;
		&:hover:before {
			content: 'Search';
			color: #fff;
		}
		img {
			height: 1.5em;
			margin-bottom: .5em;
		}
	}
}
body:not(.nav-open) {
	.navbar.hide-on-scroll:not(.scrolling-up) {
		transform: translateY(-75px);
		button {
			transform: translateY(75px);
		}
	}
}
#navigation {
	height: 100%;
	width: 25em;
	max-width: 100%;
	left: -25em;
	overflow-x: hidden;
	transition: left .3s ease-in-out;

	&.nav-open {
		left: 0;
	}
	button {
		display: block;
		padding: .1em .66em;
		font-size: 3em;
		line-height: 1em;
		color: inherit;
	}
	.nav-link {
		position: relative;
		font-family: Gotham;
		color: #1757A6;
		text-transform: uppercase;
		&:hover {
			background-color: #f4f4f4;
		}
		&.active {
			background-color: #1757A6;
			color: #FFF;
			&:not([data-toggle=collapse]) {
				pointer-events: none;
				touch-actions: none;
			}
		}
	}
	& > .nav > .nav-link {
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		padding: 1.25em 2em;

		&[aria-expanded=true] {
			background-color: #f9f9f9;
			&.active {
				background-color: #1757A6;	
			}
		}

		&[data-toggle=collapse]:before, &[data-toggle=collapse]:after {
			content: '\2014';
			position: absolute;
			right: .5em;
			top: .75em;
			font-weight: 100;
			font-size: 1.5em;
			transition: transform .3s ease-in-out;
		}
		&[data-toggle=collapse]:before {
			transform: rotate(90deg);
		}
		&[data-toggle=collapse][aria-expanded=true]:before {
			transform: rotate(0);
		}
	}
	.collapse, .collapsing {
		background-color: #f9f9f9;
		.nav {
			.nav-link {
				padding-left: 4em;
				font-size: .83em;
				line-height: 16px;
				font-weight: 300;
				&.active {
					background-color: rgba(23, 87, 166, .25);
					color: inherit;
				}
			}
		}
	}
	@media (max-width: 576px) {
		& > .nav > .nav-link {
			padding: 1em;
		}
		button {
			padding: .1em 1rem;
		}
	}
}
.navbar-padding {
	height: 3.5em;
}
.breadcrumb {
	font-size: .85em;
	padding: .75em 2em;
	background-color: initial;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}