#about-section {
	.column {
		.info-panel {
			padding: 1em;
			background-color: $darkBlue;
			color: #fff;
		}
	}
	.business-panel {
		padding-top: 12em;
		padding-left: 3em;
		.about-icon {
			height: 4em;
			img {
				width: 30%;
				&.bigger {
					width: 40%;
				}
			}
		}
		h3 {
			color: $darkBlue;
		}
		.column {
			padding: 1em;
			margin: 0;
			&:first-of-type {
				padding-left: 0;
			}
			&:last-of-type {
				padding-right: 0;
			}
		}
	}
	&.animated {
		.info-panel {
			animation: fade-in 1s $easeInOut both;
			animation-delay: .5s;
		}
		.business-panel {
			h3 {
				animation: fade-in 1s $easeInOut both;
				animation-delay: 1.5s;
			}
			.column {
				animation: fade-in 1s $easeInOut both;
				@include staggeredDelays(3, .5, 1.5);
			}
		}
	}
}