#about {
	.info-panel {
		padding: 1em;
		background-color: $darkBlue;
		color: #fff;
	}
	.business-panel {
		padding-top: 12em;
		padding-left: 3em;
		.about-icon {
			height: 4em;
			img {
				width: 30%;
				&.bigger {
					width: 40%;
				}
			}
		}
		h3 {
			color: $darkBlue;
		}
		.column {
			padding: 1em;
			margin: 0;
			&:first-of-type {
				padding-left: 0;
			}
			&:last-of-type {
				padding-right: 0;
			}
		}
	}
	@include mobile {
		.info-panel {
			br {
				display: none;
			}
			p:last-of-type {
				margin-bottom: 0;
			}
		}
		.business-panel {
			padding: 2em 0 0;
			& > h3 {
				text-align: center;
			}
			.column {
				display: flex;
				justify-content: space-between;
				margin: 1em 0 2em;
				div.about-icon {
					width: 30%;
					height: auto;
					display: flex;
					justify-content: center;
					img {
						width: 80%;
						&.bigger {
							margin-left: 10%;
							width: 75%;
						}
					}
				}
				div:last-of-type {
					width: 65%;
				}
				&, &:first-of-type, &:last-of-type {
					padding: 0;
				}
				h3, p {
					margin: 0;
				}
			}
		}
	}
	@include bigger-than-mobile {
		&.animated {
			.info-panel {
				animation: fade-in 1s $easeInOut both;
				animation-delay: .5s;
			}
			.business-panel {
				h3 {
					animation: fade-in 1s $easeInOut both;
					animation-delay: 1.5s;
				}
				.column {
					animation: fade-in 1s $easeInOut both;
					@include staggeredDelays(3, .5, 1.5);
				}
			}
		}
	}
}