#certifications {
	background-color: #EFEFEF;
	position: relative;
	padding-bottom: 10em;
	.section-title {
		margin-bottom: 5em;
	}
	.desktop {
		.column {
			width: 33%;
			.cert-logo-container {
				margin: 1em;
				padding: 7em 0;
				border-radius: 15em;
				cursor: pointer;
				img {
					max-width: 80%;
				}
				&:hover {
					background-color: #ddd;
				}
				&:active, &.active {
					background-color: $darkBlue;
					img {
						opacity: 0;
					}
				}
			}
		}
	}
	#cert-modal {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;

		display: none;
		align-items: center;
		justify-content: center;

		background-color: $darkBlue;

		animation-duration: .7s;
		animation-timing-function: $easeInOut;
		animation-fill-mode: both;
		
		.modal-content {
			position: relative;
			display: none;

			margin: auto;
			width: 70%;
			&.active {
				display: flex;
			}
			.cert-content {
				padding: 4em;
				background-color: white;
				border-radius: 5px;
				box-shadow: 0 10px 72px -16px rgba(0,0,0,0.44);

				h3 {
					font-size: 1.6em;
					color: $darkBlue;
					margin: 0 0 1em;
					span {
						border-bottom: 5px solid $lightBlue;
					}
				}
				p:last-of-type {
					margin-bottom: 0;
				}
				.cert-icon-container {
					display: flex;
					justify-content: space-between;
					align-items: flex-start;
					flex-direction: row;
					width: 100%;
					padding-top: 3.5em;
					.icon {
						display: inline-block;
						width: 33.3%;
						margin: 0 auto;
						margin-right: 2em;
						img {
							width: 100%;

						}
						&:last-of-type {
							margin-right: auto;
						}
					}
				}
				#veeva, #oce, #mitouch {
					display: none;
				}
				#veeva img {
					max-width: 220px;
				}
			}

			.close-btn {
				position: absolute;
				top: -3.25em;
				right: -2.5em;
				color: #FFF;
				cursor: pointer;
				z-index: 10;
				span {
					font-size: 3em;
				}
				&:hover {
					color: #9a9a9a;
				}
			}
		}
	}
	&.animated {
		.grid {
			.column {
				animation: fade-in 1s $easeInOut both;
				@include staggeredDelays(3, .5, .5);
			}
		}
	}
	@include bigger-than-mobile {
		.mobile {
			display: none;
		}
	}

	@include mobile {
		display: block;
		padding-bottom: 0;
		.desktop {
			display: none;
		}

		.section-title {
			padding: 0;
			margin: 0;
		}
		.mobile {
			& > div {
				margin: 0 auto;
				h3 {
					font-size: 1.3em;
					color: $darkBlue
				}
				.cert-icon-container {
					text-align: center;
					.row {
						display: flex;
						justify-content: space-between;
						img:first-of-type {
							width: calc(50% - 1em);
							padding-right: 1em;
						}
						img {
							width: 50%;
							max-height: 2em;
						}
					}
					img {
						width: 80%;
						padding: 1em 0;
					}
				}
				hr {
					height: .1em;
					width: 4em;
					margin: 1em auto 2em;
					background-color: #CCC;
					border: none;
				}
			}
		}
	}
}