#eDetailers {
	// align-items: flex-end;
	.info-panel {
		margin-right: 1em;
		background-color: $lightGray;
		padding: 1em 2em 2em;
		h2 {
			margin: .5em 0 2em;
			color: $darkBlue;
		}
		p:last-of-type {
			margin-bottom: 0;
		} 
	}
	.image-panel {
		display: flex;
		align-items: flex-end;
		img:first-of-type {
			width: calc(60% - 1em);
			padding-right: 1em;
		}
		img:last-of-type {
			width: 40%;
		}
	}
	.service-panel {
		background-color: $darkBlue;
		margin-top: 1em;
		color: #FFF;
		.column {
			hr {
				height: .125em;
				width: 3em;
				margin: 1em auto .25em;
				background-color: $lightBlue;
				border: none;
			}
		}
	}
	@include mobile {
		.info-panel {
			margin: 0;
			padding: 1em;
			h2 {
				text-align: center;
				margin: 1.5em 0 2em;
			}
			br {
				display: none;
			}
		}
		.image-panel {
			position: relative;
			overflow: hidden;
			height: 12em;
			margin-top: 1em;
			img:first-of-type {
				display: none;
			}
			img:last-of-type {
				position: absolute;
				width: 100%;
				bottom: 0;
			}
		}
		.service-panel {
			display: flex;
			.column {
				flex: 0 50%;
				padding: 1em 0 .5em;
				hr {
					width: auto;
					margin: .75em 3em;
				}
			}
		}
	}

	@include bigger-than-mobile {
		opacity: 0;
		transition: opacity .1s linear;
		&.animated {
			opacity: 1;
			.info-panel {
				animation: fade-in-left 1s $easeInOut both;
				animation-delay: .5s;
			}
			.image-panel img {
				animation: fade-in-left 1s $easeInOut both;
				@include staggeredDelays(2, .2, 1.1);
			}
			.service-panel {
				animation: slide-in-up 1s $easeInOut both;
				animation-delay: 2s;
			}
		}
	}
}