#home {
	background-color: $darkBlue;
	// -webkit-clip-path: ellipse(94% 53% at 50% 40%);
	// clip-path: ellipse(94% 53% at 50% 40%);
	.info-panel {
		margin-left: 2em;
		color: #fff;
		h1 {
			margin-top: 0;
		}
	}

	.slide-container {
		text-align: center;
		* {
			margin: 0 auto;
		}
		width: 100%;

		.slider {
			border: 1vw solid;
			border-image-source: url('../img/slides/slide_frame.png');
			border-image-slice: 30;
			background-color: black;
			border-radius: 1em;
			box-shadow: 35px 10px 72px -16px rgba(0,0,0,.44);
			opacity: 0;

			img {
				background-color: black;
				display:block;
				border-radius: .4em;
			}
		}

		.pager-container .pager .bb-link-wrapper {
			display: inline-block;
			margin: 1em .5em;
			a {
				color: #fff;
				text-decoration: none;

			}
			&.activePanel a {
				color: $lightBlue;
			}
		}
	}

	// Animations (no .animated class because) it does not appear on page load
	@include bigger-than-mobile {
		animation: animate-home-bg 1s $easeInOut both;
		animation-delay: 3s;

		.slide-container {
			animation: fade-in 1s $easeInOut both;
			animation-delay: .5s;
		}

		.info-panel {
			h1, p {
				animation: fade-in 1s $easeInOut both;
				animation-delay: 1.5s;		
			}
			.btn {
				animation: fade-in 1s $easeInOut both;
				animation-delay: 2.5s;
			}
		}
	}

	@include mobile {
		padding-top: 3em;
		.info-panel {
			margin: 0 auto;
			.btn {
				margin: 1em 0 2em;
			}
		}
		.slide-container {
			padding-top: 1em;
			.slider {
				border-width: 2vw;
				border-radius: .5em;
				img {
					border-radius: 0;
				}
			}
			.pager-container .pager .bb-link-wrapper {
				font-size: .8em;
			}
		}
	}
}