.grid {
	display: flex;
	flex-wrap: wrap;

	&.column-center .column{
		text-align: center;
	}
	@include mobile {
		display: block;
	}
}

.column {
	flex: 1;
}

.big {
	flex: 1.5;	
}
.bigger { 
	flex: 2;
}
