.grid {
	display: flex;
	flex-wrap: wrap;

	&.column-center .column{
		text-align: center;
	}
}

.column {
	flex: 1;
}

.big {
	flex: 1.5;	
}
.bigger { 
	flex: 2;
}

.halves .column { 
	flex: 0 0 50%; 
}
.thirds .column { 
	flex: 0 0 33.3333%;
}
.fourths .column {
	flex: 0 0 25%;
}
.fifths .column {
	flex: 0 0 20%;
}

@media (max-width: 900px) {
	.grid { display: block; }
}