@mixin staggeredDelays($numberOfStaggers, $interval, $initialDelay: 0){
	@for $i from 1 through $numberOfStaggers {
		&:nth-of-type(#{$i}) {
			animation-delay: #{$initialDelay + ($i * $interval)}s;
		}
	}
}

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content; 
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}

// 1024
@mixin media-lg-screen {
	@media screen and (max-width: 1024px) {
		@content;
	}
}

$mobile-width: 32em;  // 512px
$tablet-width: 48em;  // 768px
$desktop-width: 64em; // 1024px

@mixin tablet {
	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
		@content;
	}
}
@mixin mobile {
	@media (max-width: #{$tablet-width}) {
		@content;
	}
}
@mixin bigger-than-mobile {
	@media (min-width: #{$tablet-width}) {
		@content;
	}
}