nav {
	position: fixed;
	width: 100%;
	z-index: 9;
	
	.nav-container {
		margin: 0 auto;
		max-width: 1024px;
		height: 4em;
		padding: 0 1em;

		display: flex;
		justify-content: space-between;
		align-items: center;

		.left .nav-logo img {
			height: 2.75em;
			transition: filter .1s $easeInOut;
			transition-delay: .6s;
		}

		.right .nav-item {
			display: inline-block;
			margin-left: 1.25em;
			padding: .25em 0;

			border-bottom: 3px solid $transparent;
			transition: all .3s $easeInOut;
			transition-delay: .5s;

			a {
				font-size: .9em;
				cursor: pointer;
				color: #000;
				text-decoration: none;
				transition: color .1s $easeInOut;
				transition-delay: .6s;
			}

			&.active {
				border-color: $darkBlue;
			}
		}
	}
}

body.dark-bg {
	nav .nav-container {
		.left .nav-logo img{
			filter: brightness(0) invert(1);
		}
		.right .nav-item {
			a {
				color: #fff;	
			}
			&.active {
				border-color: #fff;
			}
		}
	}
}