nav {
	position: fixed;
	width: 100%;
	z-index: 3;
	top: 0;
	transition: top .3s $easeInOut;
	
	.nav-container {
		margin: 0 auto;
		max-width: 1024px;
		height: 4em;
		padding: 0 1em;

		display: flex;
		justify-content: space-between;
		align-items: center;

		.left .nav-logo img {
			height: 2.75em;
			-webkit-transition: filter .1s $easeInOut;
			transition: filter .1s $easeInOut;
			transition-delay: .4s;
		}
		&.no-delay {
			.left .nav-logo img, #navigation-menu.right .nav-item, #navigation-menu.right .nav-item a {
				transition-delay: 0s
			}
		}
		@include bigger-than-mobile {
			&.dark-bg {
				.left .nav-logo img{
					filter: brightness(0) invert(1);
				}
				#navigation-menu .nav-item {
					a {
						color: #fff;	
					}
					&.active {
						border-color: #fff;
					}
				}
			}
		}
		@include mobile {
			background: white;
			border-bottom: 2px solid $darkBlue;
			.left, .right {
				padding: 0 0;
			}
		}
		#navigation-menu {
			.nav-item {
				display: inline-block;
				margin-left: 1.25em;
				padding: .25em 0;

				border-bottom: 3px solid $transparent;
				transition: all .1s $easeInOut;
				transition-delay: .4s;

				a {
					font-size: .9em;
					cursor: pointer;
					color: #000;
					text-decoration: none;
					transition: color .1s $easeInOut;
					transition-delay: .4s;
				}

				&.active {
					border-color: $darkBlue;
				}
			}
			@include mobile {
				display: none;
			}
		}

		#navigation-menu-mobile {
			position: relative;

			input {
				-webkit-appearance: none;
				display: block;
				width: 2.5em;
				height: 2em;
				position: absolute;
				cursor: pointer;

				opacity: 0; /* hide this */
				z-index: 6; /* and place it over the hamburger */

				-webkit-touch-callout: none;
				&:checked{
					// opacity: 0;
					transition: all .3s $easeInOut;
					& ~.hamburger-line {
						background: $darkBlue;
					}
					& ~.hamburger-line:first-of-type {
						opacity: 1;
						transform: rotate(45deg) translate(-2px, -3px);
					}
					& ~.hamburger-line:nth-of-type(2) {
						opacity: 0;
						transform: rotate(45deg) translate(-5px, 2px);
					}
					& ~.hamburger-line:last-of-type {
						opacity: 1;
						transform: rotate(-45deg);
					}
					& ~ul {
						opacity: 1;
						transform: scale(1.0, 1.0);
					}
				}
			}
			.hamburger-line {
				display: block;
				position: relative;
				width: 2em;
				height: .25em;
				margin-bottom: 5px;
				background: $darkBlue;
				border-radius: .25em;
				z-index: 5;
				transition: all .3s $easeInOut;

				&:first-of-type {
					transform-origin: 0% 0%;
				}
				&:last-of-type {
					transform-origin: 0% 100%;
				}
			}
			ul {
				position: absolute;
				width: 18em;
				margin: -3em;
				padding: 4em 0 0;
				height: 100vh;
				right: -1em;
				z-index: 4;
				border-left: 2px solid $darkBlue;
				box-shadow: -15px 0px 50px -8px rgba(0,0,0,0.5);

				background: white;
				list-style-type: none;
				-webkit-font-smoothing: antialiased;

				transform: translate(100%, 0);
				transition: transform .3s $easeInOut;
				li {
					margin: 0;
					font-size: 1.2em;
					padding: 1em 1.25em 1em;
					cursor: pointer;
					span {
						padding: 0 .25em .25em;
						border-bottom: 2px solid $transparent;
						border-color: white;
					}
					&.active span{
						border-color: $darkBlue;
					}
				}
			}

			@include bigger-than-mobile {
				display: none;
			}
		}
	}
	&.scrolling {
		top: -4em;
		#navigation-menu-mobile {
			display: none;
		}
	}
}