@import url('https://fonts.googleapis.com/css?family=Lato|Varela&display=swap');

.preload * {
	// -webkit-transition: none !important;
	// transition: none !important;
	// animation-duration: 0s !important;
	// -webkit-animation-duration: 0s !important;
}

@import 'variables';
@import 'grid';
@import 'animations';
@import 'mixins';
@import 'fullpage-navbar';

@import 'sections/home';
@import 'sections/edetailers';
@import 'sections/certifications';
@import 'sections/services';
@import 'sections/how-we-work';
@import 'sections/map';
@import 'sections/about';
@import 'sections/contact';

html, body {
	background-color: #FFF;
	font-family: 'Lato', sans-serif;
	margin: 0;
}

h1, h2, h3, h4, h5{
	font-family: 'Varela', sans-serif;
}

p {
	margin-block-start: 1.2em;
	margin-block-end: 1.2em;
	line-height: 1.5em;
}

.section {
	min-height: 50vh;
}

.container {
	max-width: 1024px;
	padding: 1em 1em;
	margin: 0 auto;
	&.bigger {
		max-width: 1200px;
	}
	&.no-max-width {
		max-width: initial;
	}
	&.no-padding {
		padding: 0;
	}
}

.column {
	padding: 1em;
	box-sizing: border-box;
	img {
		width: 100%;
	}
	&.no-padding {
		padding: 0;
	}
}

.section-title {
	text-align: center;
	h2 {
		color: $darkBlue;
	}
}

.light-blue-underline {
	border-bottom: 4px solid $lightBlue;
	padding-bottom: .25em;
	box-sizing: border-box;
	margin-bottom: 1.5em;
}

.btn {
	margin-top: 1em;
	background-color: $darkBlue;
	padding: 1em 2em;
	font-size: 1.2em;
	color: #FFF;
	border: none;
	cursor: pointer;
	position: relative;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	transition: box-shadow .5s $easeInOut;
	&.light-blue {
		color: #000;
		background-color: $lightBlue;
	}
	&:hover, &:focus {
		box-shadow: 0 12px 10px -5px rgba(0, 0, 0, 0.5);
	}
	&:active {
		box-shadow: none;		
	}
}

@include media-lg-screen {
	*.animated {
		-webkit-transition: none !important;
		transition: none !important;
		animation-duration: 0s !important;
		-webkit-animation-duration: 0s !important;
	}
}
