@import url('https://fonts.googleapis.com/css?family=Lato|Varela&display=swap');

$darkBlue: #3A3A9D;
$lightGray: #F4F4F4;
$lightBlue: #83D0F4;
$transparent: rgba(0,0,0,0);

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #FFF;
	font-family: 'Lato', sans-serif;
}

.column {
	padding: 1em;
	box-sizing: border-box;
	img {
		max-width: 700px;
		width: 100%;
	}
}

h1, h2, h3, h4, h5{
	fontfont-family: 'Varela', sans-serif;
}

p {
	margin-block-start: 1.2em;
	margin-block-end: 1.2em;
	line-height: 1.5em;
}

.hidden {
	display: none;
}


// Navigation backgrounds
	// Default
body[class^="fp-viewing-"] nav {
	position: fixed;
	width: 100%;
	z-index: 9;
	
	.nav-container {
		margin: 0 auto;
		max-width: 1000px;
		height: 3em;

		display: flex;
		justify-content: space-between;
		align-items: center;

		.left .nav-logo img {
			height: 2.5em;
			transition: filter .3s linear;
			transition-delay: .7s;
		}

		.right .nav-item {
			display: inline-block;
			margin-left: 2em;
			padding: .5em 0;

			border-bottom: 3px solid $transparent;
			transition: border .3s linear;
			transition-delay: .7s;

			a {
				color: #000;
				text-decoration: none;
				transition: color .3s linear;
				transition-delay: .7s;
			}

			&.active {
				border-color: $darkBlue;
			}
		}
	}
}

body.fp-viewing-home, body.fp-viewing-services, body.fp-viewing-contact, body.dark-bg {
	nav .nav-container {
		.left .nav-logo img{
			filter: brightness(0) invert(1);
		}
		.right .nav-item {
			a {
				color: #fff;	
			}
			&.active {
				border-color: #fff;
			}
		}
	}
}

#home-section {
	background-color: $darkBlue;
	.info-panel {
		color: #fff;
		h1 {
			margin-top: 0;
		}

		.btn {
			margin-top: 3em;
			background-color: $darkBlue;
			padding: 1em;
			font-size: 1.2em;
			color: #FFF;
			border: none;
			&.accent-blue {
				color: #000;
				background-color: $lightBlue;
			}
		}
	}

	.slide-container {
		text-align: center;
		* {
			margin: 0 auto;
		}
		width: 70%;

		.frame-container {
			border: 1vw solid;
			border-image-source: url('../img/slide_frame.png');
			border-image-slice: 30;
			background-color: black;
			border-radius: 20px;
			box-shadow: 35px 10px 72px -16px rgba(0,0,0,0.44);

			img {
				background-color: black;
				display:block;
				border-radius: .4em;
			}
		}

		.pager-container .pager .bb-link-wrapper {
			display: inline-block;
			margin: 1em .5em;
			a {
				color: #fff;
				text-decoration: none;

			}
			&.activePanel a {
				color: $lightBlue;
			}
		}
	}
}


#eDetailers-section {
	.info-panel {
		margin-right: 1em;
		background-color: $lightGray;
		padding: 1em 2em 2em;
		h1{
			color: $darkBlue;
		}
		hr {
			border: none;
			height: .25em;
			background-color: $lightBlue;
		}
		p:last-of-type {
			margin-bottom: 0;
		}
	}
	.service-panel {
		background-color: $darkBlue;
		margin-top: 1em;
		color: #FFF;
		.column {
			hr {
				background-color: $lightBlue;
				border: none;
				height: .125em;
				width: 3em;
				margin: 1em auto .25em;
			}
		}
	}
}
.no-vert .fp-tableCell {
	vertical-align: unset;
}

#certifications-section {
	background-color: #EFEFEF;
	position: relative;
	.section-title {
		margin: 5em 0 3em;
	}
	.column {
		.cert-logo-container {
			margin: 1em;
			padding: 7em 0;
			border-radius: 15em;
			cursor: pointer;
			img {
				max-width: 80%;
			}
			&:hover {
				// background-color: #bfddfb;
				background-color: #ddd;
			}
			&:active, &.active {
				background-color: $darkBlue;
				img {
					opacity: 0;
				}
			}

		}
	}
	#cert-modal {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: $darkBlue;
		// display: flex;
		display: none;
		align-items: center;
		justify-content: center;
		animation-duration: .7s;
		animation-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
		animation-fill-mode: both;
		
		.modal-content {
			position: relative;
			display: none;

			margin: auto;
			width: 70%;
			.cert-content {
				padding: 5em;
				background-color: white;
				border-radius: 5px;

				h3 {
					font-size: 1.6em;
					color: $darkBlue;
					margin: 0 0 .25em;
					letter-spacing: 2px;
					span {
						border-bottom: 5px solid $lightBlue;
					}
				}
				#veeva, #oce, #econtent {
					display: none;
				}

				#veeva {
					.cert-icon-container {
						display: flex;
						justify-content: space-between;
						align-items: center;
    					text-align: center;
						.icon {
							display: inline-block;
							width: 33.3%;
							padding: 2em 0;
							img {
								width: 75%;
							}
						}
					}
				}

			}

			.close-btn {
				position: absolute;
				top: -4.5em;
				right: -4em;
				color: #FFF;
				cursor: pointer;
				span {
					font-size: 4em;
				}
			}
			
		}
	}
}

#services-section {
	background-image: linear-gradient(0, rgba(58, 58, 157, .57), rgba(58, 58, 157, .57)), url('../img/service-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	.column {
		margin-left: .5em;
		margin-right: .5em;
		h3 {
			margin-top: 0;
			font-size: 1.5em;
		}
	}
	.development {
		background-color: #DDDEDE;
		h3 {
			color: $darkBlue;
		}
	}
	.localisation {
		background-color: $darkBlue;
		color: #FFF;
		h3 {
			color: $lightBlue;
		}
	}
	.translation {
		background-color: #ECEFF0;
		h3 {
			color: $darkBlue;
		}
	}
	.transcreation {
		background-color: $lightBlue;
		h3 {
			color: #fff;
		}
	}

}

.section-title {
	text-align: center;
	h2 {
		color: $darkBlue;
	}
	hr {
		background-color: $lightBlue;
		border: none;
		height: .25em;
		width: 12em;
		margin: 1em auto;
	}
}

#how-we-work-section {
	.work-selector {
		padding: 0;
		color: #919191;
		.column:nth-of-type(1) {
			text-align: right;
		}
		.active {
			color: #575757;
		}
	}
	.work-container {
		.column {
			h3 {
				color: $darkBlue;
			}
		}
	}
	.btn-container {
		margin-top: 1em;
		text-align: center;
		button {
			font-size: 1.2em;
			outline: none;
			background-color: $darkBlue;
			color: #fff;
			padding:1em 5em;
		}
	}
}

#map-section {
	text-align: center;
	h2 {
		color: $darkBlue;
	}
	.map-container {
		width: 100%;
		height: 75vh;
		margin: 0 auto;
		#vmap, #gmap {
			// width: 50vw;
			// height: 75vh;
			width: 100%;
			height: 100%;
			color: #267114
		}
	}
}

#about-section {
	.column {
		margin: 0 1.5em;
		padding: 0;
		.info-panel {
			padding: 1em;
			background-color: $darkBlue;
			color: #fff;

			h2 {
				color: #fff;
			}
			hr {
				background-color: $lightBlue;
				border: none;
				height: .25em;
				width: 5em;
				margin: 1em 0;
			}
		}
	}
	.business-panel {
		padding-top: 15em;
		h3 {
			color: $darkBlue;
		}
		.column {
			padding: 1em;
			margin: 0;
		}
	}
}
#contact-section {
	background-color: $darkBlue;
	color: #fff;
	hr {
		background-color: $lightBlue;
		border: none;
		height: .25em;
		width: 10em;
		margin: 1em 0;
	}
	h3 {
		color: $lightBlue;
		text-transform: uppercase;
	}
}

@media (min-width: 600px) {
	.container {
		max-width: 1000px;
		padding: 1em 3em;
		margin: 0 auto;
		&.bigger {
			max-width: 1200px;
		}
	}

	#home-section {
		-webkit-clip-path: ellipse(94% 53% at 50% 40%);
		clip-path: ellipse(94% 53% at 50% 40%);
	}

	#services-section {
		background-size: cover;
	}

	.grid {
		display: flex;
		flex-wrap: wrap;

		&.column-center .column{
			text-align: center;
		}
	}

	.column {
		flex: 1;
	}

	.big {
		flex: 1.5;	
	}
	.bigger { 
		flex: 2;
	}

	.halves .column { 
		flex: 0 0 50%; 
	}
	.thirds .column { 
		flex: 0 0 33.3333%;
	}
	.fourths .column {
		flex: 0 0 25%;
	}
}