@import url('https://fonts.googleapis.com/css?family=Lato|Varela&display=swap');

@import 'variables';
@import 'mixins';
@import 'grid';
@import 'animations';
@import 'navbar';

@import 'sections/home';
@import 'sections/edetailers';
@import 'sections/certifications';
@import 'sections/services';
@import 'sections/how-we-work';
@import 'sections/map';
@import 'sections/about';
@import 'sections/contact';

html, body {
	background-color: #FFF;
	font-family: 'Lato', sans-serif;
	margin: 0;

}

h1, h2, h3, h4, h5{
	font-family: 'Varela', sans-serif;
}

p {
	margin-block-start: 1.2em;
	margin-block-end: 1.2em;
	line-height: 1.5em;
}

.scroll-snap-container {
	height: 100vh;
	overflow-y: auto;
	scroll-snap-type: y mandatory;
	.section {
		display: flex;
		height: calc(100vh - 3em);
		align-items: center;
		padding-top: 3em;
		scroll-snap-align: start;
	}
	@include mobile {
		// scroll-snap-type: y proximity;
		scroll-snap-type: none;
		
		.section {
			height: initial;
			// min-height: 100vh;
			padding-top: 0;
			align-items: unset;
			.container {
				max-width: 24em;
			}
		}
	}
}

.container {
	max-width: 1024px;
	padding: 1em;
	margin: 0 auto;
	&.bigger {
		max-width: 1200px;
	}
	&.no-max-width {
		max-width: initial;
	}
	&.no-padding {
		padding: 0;
	}
}

.column {
	padding: 1em;
	box-sizing: border-box;
	img {
		width: 100%;
	}
	&.no-padding {
		padding: 0;
	}
	@include mobile {
		padding: 0;
	}
}

.section-title {
	text-align: center;
	h2 {
		color: $darkBlue;
	}
}

.light-blue-underline {
	border-bottom: 4px solid $lightBlue;
	padding-bottom: .25em;
	box-sizing: border-box;
	margin-bottom: 1.5em;
}

.btn {
	position: relative;
	margin-top: 1em;
	padding: 1em 2em;
	font-size: 1.2em;
	
	color: #FFF;
	background-color: $darkBlue;

	border: none;
	border-radius: 5px;
	cursor: pointer;

	-webkit-appearance: none;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);

	transition: background-color .5s $easeInOut;

	&:hover, &:focus, &:active {
		background-color: $lightBlue;
	}

	&.light-blue {
		color: #000;
		background-color: $lightBlue;
		&:hover, &:focus, &:active {
			background-color: #DDDEDE;
		}
	}
}

@include mobile {
	h1 {
		font-size: 1.7em;
	}
	h2, h3 {
		margin-top: 0;
	}
}
