@import url("https://fonts.googleapis.com/css?family=Lato|Varela&display=swap");
.grid {
  display: flex;
  flex-wrap: wrap; }
  .grid.column-center .column {
    text-align: center; }
  @media (max-width: 768px) {
    .grid {
      display: block; } }

.column {
  flex: 1; }

.big {
  flex: 1.5; }

.bigger {
  flex: 2; }

@-webkit-keyframes timeline-draw-right {
  from {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%); }
  to {
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%); } }
@-moz-keyframes timeline-draw-right {
  from {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%); }
  to {
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%); } }
@-ms-keyframes timeline-draw-right {
  from {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%); }
  to {
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%); } }
@keyframes timeline-draw-right {
  from {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%); }
  to {
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%); } }
@-webkit-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-ms-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes slide-in-up {
  from {
    transform: translateY(100vh); }
  to {
    transform: translateY(0); } }
@-moz-keyframes slide-in-up {
  from {
    transform: translateY(100vh); }
  to {
    transform: translateY(0); } }
@-ms-keyframes slide-in-up {
  from {
    transform: translateY(100vh); }
  to {
    transform: translateY(0); } }
@keyframes slide-in-up {
  from {
    transform: translateY(100vh); }
  to {
    transform: translateY(0); } }
@-webkit-keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(100vw); }
  to {
    opacity: 1;
    transform: translateX(0); } }
@-moz-keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(100vw); }
  to {
    opacity: 1;
    transform: translateX(0); } }
@-ms-keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(100vw); }
  to {
    opacity: 1;
    transform: translateX(0); } }
@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(100vw); }
  to {
    opacity: 1;
    transform: translateX(0); } }
@-webkit-keyframes animate-home-bg {
  from {
    clip-path: ellipse(100% 100% at 50% 40%); }
  to {
    clip-path: ellipse(94% 53% at 50% 40%); } }
@-moz-keyframes animate-home-bg {
  from {
    clip-path: ellipse(100% 100% at 50% 40%); }
  to {
    clip-path: ellipse(94% 53% at 50% 40%); } }
@-ms-keyframes animate-home-bg {
  from {
    clip-path: ellipse(100% 100% at 50% 40%); }
  to {
    clip-path: ellipse(94% 53% at 50% 40%); } }
@keyframes animate-home-bg {
  from {
    clip-path: ellipse(100% 100% at 50% 40%); }
  to {
    clip-path: ellipse(94% 53% at 50% 40%); } }
nav {
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
  transition: top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  nav .nav-container {
    margin: 0 auto;
    max-width: 1024px;
    height: 4em;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    nav .nav-container .left .nav-logo img {
      height: 2.75em;
      -webkit-transition: filter 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transition: filter 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transition-delay: .4s; }
    nav .nav-container.no-delay .left .nav-logo img, nav .nav-container.no-delay #navigation-menu.right .nav-item, nav .nav-container.no-delay #navigation-menu.right .nav-item a {
      transition-delay: 0s; }
    @media (min-width: 769px) {
      nav .nav-container.dark-bg .left .nav-logo img {
        filter: brightness(0) invert(1); }
      nav .nav-container.dark-bg #navigation-menu .nav-item a {
        color: #fff; }
      nav .nav-container.dark-bg #navigation-menu .nav-item.active {
        border-color: #fff; } }
    @media (max-width: 768px) {
      nav .nav-container {
        background: white;
        border-bottom: 2px solid #3A3A9D; }
        nav .nav-container .left, nav .nav-container .right {
          padding: 0 0; } }
    nav .nav-container #navigation-menu .nav-item {
      display: inline-block;
      margin-left: 1.25em;
      padding: .25em 0;
      border-bottom: 3px solid rgba(58, 58, 157, 0);
      transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transition-delay: .4s;
      position: relative;
      z-index: 5; }
      nav .nav-container #navigation-menu .nav-item a {
        font-size: .9em;
        cursor: pointer;
        color: #000;
        text-decoration: none;
        transition: color 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        transition-delay: .4s; }
      nav .nav-container #navigation-menu .nav-item.active {
        border-color: #3A3A9D; }
    @media (max-width: 768px) {
      nav .nav-container #navigation-menu {
        display: none; } }
    nav .nav-container #navigation-menu-mobile {
      position: relative; }
      nav .nav-container #navigation-menu-mobile input {
        -webkit-appearance: none;
        display: block;
        width: 2.5em;
        height: 2em;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        /* hide this */
        z-index: 6;
        /* and place it over the hamburger */
        -webkit-touch-callout: none; }
        nav .nav-container #navigation-menu-mobile input:checked {
          transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
          nav .nav-container #navigation-menu-mobile input:checked ~ .hamburger-line {
            background: #3A3A9D; }
          nav .nav-container #navigation-menu-mobile input:checked ~ .hamburger-line:first-of-type {
            opacity: 1;
            transform: rotate(45deg) translate(-2px, -3px); }
          nav .nav-container #navigation-menu-mobile input:checked ~ .hamburger-line:nth-of-type(2) {
            opacity: 0;
            transform: rotate(45deg) translate(-5px, 2px); }
          nav .nav-container #navigation-menu-mobile input:checked ~ .hamburger-line:last-of-type {
            opacity: 1;
            transform: rotate(-45deg); }
          nav .nav-container #navigation-menu-mobile input:checked ~ ul {
            opacity: 1;
            transform: scale(1, 1); }
      nav .nav-container #navigation-menu-mobile .hamburger-line {
        display: block;
        position: relative;
        width: 2em;
        height: .25em;
        margin-bottom: 5px;
        background: #3A3A9D;
        border-radius: .25em;
        z-index: 5;
        transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
        nav .nav-container #navigation-menu-mobile .hamburger-line:first-of-type {
          transform-origin: 0% 0%; }
        nav .nav-container #navigation-menu-mobile .hamburger-line:last-of-type {
          transform-origin: 0% 100%; }
      nav .nav-container #navigation-menu-mobile ul {
        position: absolute;
        width: 18em;
        margin: -3em;
        padding: 4em 0 0;
        height: 100vh;
        right: -1em;
        z-index: 4;
        border-left: 2px solid #3A3A9D;
        box-shadow: -15px 0px 50px -8px rgba(0, 0, 0, 0.5);
        background: white;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform: translate(100%, 0);
        transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
        nav .nav-container #navigation-menu-mobile ul li {
          margin: 0;
          font-size: 1.2em;
          padding: 1em 1.25em 1em;
          cursor: pointer; }
          nav .nav-container #navigation-menu-mobile ul li span {
            padding: 0 .25em .25em;
            border-bottom: 2px solid rgba(58, 58, 157, 0);
            border-color: white; }
          nav .nav-container #navigation-menu-mobile ul li.active span {
            border-color: #3A3A9D; }
      @media (min-width: 769px) {
        nav .nav-container #navigation-menu-mobile {
          display: none; } }
  nav.scrolling {
    top: -4em; }
    nav.scrolling #navigation-menu-mobile {
      display: none; }

#home {
  background-color: #3A3A9D; }
  #home .info-panel {
    margin-left: 2em;
    color: #fff; }
    #home .info-panel h1 {
      margin-top: 0; }
  #home .slide-container {
    text-align: center;
    width: 100%; }
    #home .slide-container * {
      margin: 0 auto; }
    #home .slide-container .slider {
      border: 1vw solid;
      border-image-source: url("../img/slides/slide_frame.png");
      border-image-slice: 30;
      background-color: black;
      border-radius: 1em;
      box-shadow: 35px 10px 72px -16px rgba(0, 0, 0, 0.44);
      opacity: 0; }
      #home .slide-container .slider img {
        background-color: black;
        display: block;
        border-radius: .4em; }
    #home .slide-container .pager-container .pager .bb-link-wrapper {
      display: inline-block;
      margin: 1em .5em; }
      #home .slide-container .pager-container .pager .bb-link-wrapper a {
        color: #fff;
        text-decoration: none; }
      #home .slide-container .pager-container .pager .bb-link-wrapper.activePanel a {
        color: #83D0F4; }
  @media (min-width: 769px) {
    #home {
      animation: animate-home-bg 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      animation-delay: 3s; }
      #home .slide-container {
        animation: fade-in 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation-delay: .5s; }
      #home .info-panel h1, #home .info-panel p {
        animation: fade-in 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation-delay: 1.5s; }
      #home .info-panel .btn {
        animation: fade-in 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation-delay: 2.5s; } }
  @media (max-width: 768px) {
    #home {
      padding-top: 3em; }
      #home .info-panel {
        margin: 0 auto; }
        #home .info-panel .btn {
          margin: 1em 0 2em; }
      #home .slide-container {
        padding-top: 1em; }
        #home .slide-container .slider {
          border-width: 2vw;
          border-radius: .5em; }
          #home .slide-container .slider img {
            border-radius: 0; }
        #home .slide-container .pager-container .pager .bb-link-wrapper a {
          font-size: .9em; } }

#eDetailers {
  align-items: flex-end; }
  #eDetailers .info-panel {
    margin-right: 1em;
    background-color: #F4F4F4;
    padding: 1em 2em 2em; }
    #eDetailers .info-panel h2 {
      margin-top: 0;
      color: #3A3A9D; }
      @media (min-width: 769px) {
        #eDetailers .info-panel h2 span:first-of-type {
          border: none; } }
    #eDetailers .info-panel p:last-of-type {
      margin-bottom: 0; }
  #eDetailers .image-panel {
    display: flex;
    align-items: flex-end; }
    #eDetailers .image-panel img:first-of-type {
      width: calc(60% - 1em);
      padding-right: 1em; }
    #eDetailers .image-panel img:last-of-type {
      width: 40%; }
  #eDetailers .service-panel {
    background-color: #3A3A9D;
    margin-top: 1em;
    color: #FFF; }
    #eDetailers .service-panel .column hr {
      height: .125em;
      width: 3em;
      margin: 1em auto .25em;
      background-color: #83D0F4;
      border: none; }
  @media (max-width: 768px) {
    #eDetailers .info-panel {
      margin: 0;
      padding: 1em; }
      #eDetailers .info-panel h2 {
        text-align: center;
        margin: 1.5em 0 2em; }
      #eDetailers .info-panel br {
        display: none; }
    #eDetailers .image-panel {
      position: relative;
      overflow: hidden;
      height: 12em;
      margin-top: 1em; }
      #eDetailers .image-panel img:first-of-type {
        display: none; }
      #eDetailers .image-panel img:last-of-type {
        position: absolute;
        width: 100%;
        bottom: 0; }
    #eDetailers .service-panel {
      display: flex; }
      #eDetailers .service-panel .column {
        flex: 0 50%;
        padding: 1em 0 .5em; }
        #eDetailers .service-panel .column hr {
          width: auto;
          margin: .75em 3em; } }
  @media (min-width: 769px) {
    #eDetailers.animated .info-panel {
      animation: fade-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      animation-delay: .5s; }
    #eDetailers.animated .image-panel img {
      animation: fade-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
      #eDetailers.animated .image-panel img:nth-of-type(1) {
        animation-delay: 1.3s; }
      #eDetailers.animated .image-panel img:nth-of-type(2) {
        animation-delay: 1.5s; }
    #eDetailers.animated .service-panel {
      animation: slide-in-up 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      animation-delay: 2s; } }

#certifications {
  background-color: #EFEFEF;
  position: relative; }
  #certifications .section-title {
    margin-bottom: 5em; }
  #certifications .desktop .column {
    width: 33%; }
    #certifications .desktop .column .cert-logo-container {
      margin: 1em;
      padding: 7em 0;
      border-radius: 15em;
      cursor: pointer; }
      #certifications .desktop .column .cert-logo-container img {
        max-width: 80%; }
      #certifications .desktop .column .cert-logo-container:hover {
        background-color: #ddd; }
      #certifications .desktop .column .cert-logo-container:active, #certifications .desktop .column .cert-logo-container.active {
        background-color: #3A3A9D; }
        #certifications .desktop .column .cert-logo-container:active img, #certifications .desktop .column .cert-logo-container.active img {
          opacity: 0; }
  #certifications #cert-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #3A3A9D;
    animation-duration: .7s;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-fill-mode: both; }
    #certifications #cert-modal .modal-content {
      position: relative;
      display: none;
      margin: auto;
      width: 70%; }
      #certifications #cert-modal .modal-content.active {
        display: flex; }
      #certifications #cert-modal .modal-content .cert-content {
        padding: 4em;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 10px 72px -16px rgba(0, 0, 0, 0.44); }
        #certifications #cert-modal .modal-content .cert-content h3 {
          font-size: 1.6em;
          color: #3A3A9D;
          margin: 0 0 1em; }
          #certifications #cert-modal .modal-content .cert-content h3 span {
            border-bottom: 5px solid #83D0F4; }
        #certifications #cert-modal .modal-content .cert-content p:last-of-type {
          margin-bottom: 0; }
        #certifications #cert-modal .modal-content .cert-content .cert-icon-container {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          flex-direction: row;
          width: 100%;
          padding-top: 3.5em; }
          #certifications #cert-modal .modal-content .cert-content .cert-icon-container .icon {
            display: inline-block;
            width: 33.3%;
            margin: 0 auto;
            margin-right: 2em; }
            #certifications #cert-modal .modal-content .cert-content .cert-icon-container .icon img {
              width: 100%; }
            #certifications #cert-modal .modal-content .cert-content .cert-icon-container .icon:last-of-type {
              margin-right: auto; }
        #certifications #cert-modal .modal-content .cert-content #veeva, #certifications #cert-modal .modal-content .cert-content #oce, #certifications #cert-modal .modal-content .cert-content #mitouch {
          display: none; }
        #certifications #cert-modal .modal-content .cert-content #veeva img {
          max-width: 220px; }
      #certifications #cert-modal .modal-content .close-btn {
        position: absolute;
        top: 0;
        right: 1em;
        color: #AAA;
        cursor: pointer;
        z-index: 10; }
        #certifications #cert-modal .modal-content .close-btn span {
          font-size: 3em; }
        #certifications #cert-modal .modal-content .close-btn:hover {
          color: #767676; }
  #certifications.animated .grid .column {
    animation: fade-in 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
    #certifications.animated .grid .column:nth-of-type(1) {
      animation-delay: 1s; }
    #certifications.animated .grid .column:nth-of-type(2) {
      animation-delay: 1.5s; }
    #certifications.animated .grid .column:nth-of-type(3) {
      animation-delay: 2s; }
  @media (min-width: 769px) {
    #certifications .mobile {
      display: none; } }
  @media (max-width: 768px) {
    #certifications {
      display: block;
      padding-bottom: 0; }
      #certifications .desktop {
        display: none; }
      #certifications .section-title {
        padding: 0;
        margin: 1.5em 0; }
      #certifications .mobile > div {
        margin: 0 auto; }
        #certifications .mobile > div h3 {
          font-size: 1.3em;
          color: #3A3A9D; }
        #certifications .mobile > div .cert-icon-container {
          text-align: center; }
          #certifications .mobile > div .cert-icon-container .row {
            display: flex;
            justify-content: space-between; }
            #certifications .mobile > div .cert-icon-container .row img:first-of-type {
              width: calc(50% - 1em);
              padding-right: 1em; }
            #certifications .mobile > div .cert-icon-container .row img {
              width: 50%;
              max-height: 2em; }
          #certifications .mobile > div .cert-icon-container img {
            width: 80%;
            padding: 1em 0; }
        #certifications .mobile > div hr {
          height: .1em;
          width: 4em;
          margin: 1em auto 2em;
          background-color: #CCC;
          border: none; } }

#services {
  background-image: url("../img/service_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); }
  #services .section-title {
    margin-bottom: 2em; }
    #services .section-title h2 {
      color: white; }
  #services .column {
    margin-left: .5em;
    margin-right: .5em; }
    #services .column h3 {
      margin-top: 0;
      font-size: 1.5em; }
    #services .column:first-of-type {
      margin-left: 0; }
    #services .column:last-of-type {
      margin-right: 0; }
  #services .development {
    background-color: #DDDEDE;
    margin-bottom: 3em; }
    #services .development h3 {
      color: #3A3A9D; }
  #services .localisation {
    background-color: #3A3A9D;
    color: #FFF;
    margin-bottom: 9em; }
    #services .localisation h3 {
      color: #83D0F4; }
  #services .translation {
    background-color: #ECEFF0;
    margin-bottom: 11em; }
    #services .translation h3 {
      color: #3A3A9D; }
  #services .transcreation {
    background-color: #83D0F4;
    margin-bottom: 5em; }
    #services .transcreation h3 {
      color: #fff; }
  @media (min-width: 769px) {
    #services.animated .column {
      animation: slide-in-up 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
      #services.animated .column:nth-of-type(1) {
        animation-delay: 0.65s; }
      #services.animated .column:nth-of-type(2) {
        animation-delay: 0.8s; }
      #services.animated .column:nth-of-type(3) {
        animation-delay: 0.95s; }
      #services.animated .column:nth-of-type(4) {
        animation-delay: 1.1s; } }
  @media (max-width: 768px) {
    #services .section-title h2 {
      margin: 1.5em 0 2.5em; }
    #services .development, #services .localisation, #services .translation, #services .transcreation {
      margin: 2em 0;
      padding: 1em;
      border-radius: 5px; }
      #services .development h3, #services .localisation h3, #services .translation h3, #services .transcreation h3 {
        margin-bottom: .4em;
        font-size: 1.2em; }
      #services .development p, #services .localisation p, #services .translation p, #services .transcreation p {
        margin: 0; } }

#how-we-work .section-title {
  margin-bottom: 3em; }
#how-we-work .work-selector {
  margin: 2em 0 3em; }
  #how-we-work .work-selector span {
    padding: 0;
    margin: 0 .5em; }
    #how-we-work .work-selector span span {
      color: #bbb;
      cursor: pointer;
      padding: .5em .5em;
      border-bottom: 3px solid rgba(58, 58, 157, 0);
      transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
      #how-we-work .work-selector span span.active {
        color: #000;
        border-color: #000; }
    #how-we-work .work-selector span.column:first-of-type {
      text-align: right; }
#how-we-work .work-container {
  display: flex; }
  #how-we-work .work-container .timeline {
    width: 100%;
    padding: 0 1em; }
    #how-we-work .work-container .timeline .column {
      height: 1.5em;
      padding: 0 1em;
      position: relative;
      z-index: 2; }
      #how-we-work .work-container .timeline .column:first-of-type {
        padding-left: 0; }
        #how-we-work .work-container .timeline .column:first-of-type .line {
          left: 1em; }
      #how-we-work .work-container .timeline .column:last-of-type {
        padding-right: 0; }
        #how-we-work .work-container .timeline .column:last-of-type .line {
          right: 0; }
    #how-we-work .work-container .timeline .dot {
      height: 1em;
      width: 1em;
      border-radius: 5em;
      background-color: #3A3A9D; }
      #how-we-work .work-container .timeline .dot .line {
        z-index: 1;
        position: absolute;
        height: 2px;
        top: calc(.5em - 1px);
        left: 2em;
        background-color: #8e8e8e;
        right: -1em; }
  #how-we-work .work-container > .column {
    height: 15em; }
    #how-we-work .work-container > .column h3 {
      color: #3A3A9D; }
#how-we-work .btn-container {
  text-align: center; }
  #how-we-work .btn-container .btn {
    margin-top: 1em; }
#how-we-work br {
  display: none; }
@media (max-width: 768px) {
  #how-we-work {
    background-color: #EFEFEF; }
    #how-we-work .section-title h2 {
      margin: 1.5em 0; }
    #how-we-work br {
      display: block; }
    #how-we-work .work-selector {
      display: flex;
      margin: 3.5em 0 2.5em; }
    #how-we-work .work-container {
      display: block; }
      #how-we-work .work-container .timeline {
        display: none; }
      #how-we-work .work-container > .column {
        height: auto;
        display: block; }
        #how-we-work .work-container > .column h3 {
          margin: 1em 0 0; }
        #how-we-work .work-container > .column p {
          margin: 0 0 .5em; }
    #how-we-work .btn-container {
      margin: 2em 0; } }
@media (min-width: 769px) {
  #how-we-work.animated .work-container .column, #how-we-work.animated .work-container .dot {
    animation: fade-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
    #how-we-work.animated .work-container .column.one, #how-we-work.animated .work-container .dot.one {
      animation-delay: 1s; }
    #how-we-work.animated .work-container .column.two, #how-we-work.animated .work-container .dot.two {
      animation-delay: 2.5s; }
    #how-we-work.animated .work-container .column.three, #how-we-work.animated .work-container .dot.three {
      animation-delay: 4s; }
    #how-we-work.animated .work-container .column.four, #how-we-work.animated .work-container .dot.four {
      animation-delay: 5.5s; }
    #how-we-work.animated .work-container .column.five, #how-we-work.animated .work-container .dot.five {
      animation-delay: 7s; }
  #how-we-work.animated .work-container .dot .line {
    animation: timeline-draw-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
    #how-we-work.animated .work-container .dot .line.one {
      animation-delay: 1.5s; }
    #how-we-work.animated .work-container .dot .line.two {
      animation-delay: 3s; }
    #how-we-work.animated .work-container .dot .line.three {
      animation-delay: 4.5s; }
    #how-we-work.animated .work-container .dot .line.four {
      animation-delay: 6s; }
    #how-we-work.animated .work-container .dot .line.five {
      animation-delay: 7.5s; } }

#map {
  text-align: center; }
  #map h2 {
    color: #3A3A9D;
    display: inline-block; }
    #map h2 br {
      display: none; }
  #map .map-container {
    width: 75vw;
    height: 75vh;
    margin: 0 auto; }
    #map .map-container #jvectormap {
      width: 100%;
      height: 100%;
      color: #c5c5c5; }
  @media (min-width: 769px) {
    #map.animated .jvectormap-marker {
      animation: fade-in 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
      #map.animated .jvectormap-marker:nth-of-type(1) {
        animation-delay: 0.7s; }
      #map.animated .jvectormap-marker:nth-of-type(2) {
        animation-delay: 0.9s; }
      #map.animated .jvectormap-marker:nth-of-type(3) {
        animation-delay: 1.1s; }
      #map.animated .jvectormap-marker:nth-of-type(4) {
        animation-delay: 1.3s; }
      #map.animated .jvectormap-marker:nth-of-type(5) {
        animation-delay: 1.5s; }
      #map.animated .jvectormap-marker:nth-of-type(6) {
        animation-delay: 1.7s; }
      #map.animated .jvectormap-marker:nth-of-type(7) {
        animation-delay: 1.9s; }
      #map.animated .jvectormap-marker:nth-of-type(8) {
        animation-delay: 2.1s; }
      #map.animated .jvectormap-marker:nth-of-type(9) {
        animation-delay: 2.3s; }
      #map.animated .jvectormap-marker:nth-of-type(10) {
        animation-delay: 2.5s; }
      #map.animated .jvectormap-marker:nth-of-type(11) {
        animation-delay: 2.7s; }
      #map.animated .jvectormap-marker:nth-of-type(12) {
        animation-delay: 2.9s; }
      #map.animated .jvectormap-marker:nth-of-type(13) {
        animation-delay: 3.1s; }
      #map.animated .jvectormap-marker:nth-of-type(14) {
        animation-delay: 3.3s; }
      #map.animated .jvectormap-marker:nth-of-type(15) {
        animation-delay: 3.5s; }
      #map.animated .jvectormap-marker:nth-of-type(16) {
        animation-delay: 3.7s; }
      #map.animated .jvectormap-marker:nth-of-type(17) {
        animation-delay: 3.9s; }
      #map.animated .jvectormap-marker:nth-of-type(18) {
        animation-delay: 4.1s; }
      #map.animated .jvectormap-marker:nth-of-type(19) {
        animation-delay: 4.3s; }
      #map.animated .jvectormap-marker:nth-of-type(20) {
        animation-delay: 4.5s; } }
  @media (max-width: 768px) {
    #map {
      min-height: 70vh;
      position: relative; }
      #map h2 {
        margin: 1.5em 0; }
        #map h2 br {
          display: block; }
      #map .light-blue-underline {
        border: none; }
      #map .map-container {
        margin: 20vh 0;
        width: 90vw;
        max-width: 100%;
        height: 30vh; } }

.jvectormap-tip {
  background: white;
  color: #292929;
  border: solid 2px #3A3A9D;
  border-radius: 0;
  padding: .5em;
  font-size: initial;
  margin: 5em;
  font-family: 'Lato'; }
  .jvectormap-tip .country-name {
    font-family: 'Varela';
    text-transform: uppercase;
    font-size: .9em;
    color: #3A3A9D; }

/* ZOOM CONTROLS
.jvectormap-container:hover {
	.jvectormap-zoomin, .jvectormap-zoomout {
		// display: block;
	}
}
.jvectormap-zoomin, .jvectormap-zoomout {
	display: none;
	height: 1.5em;
	width: 1.5em;
	line-height: 1.5em;
	font-size: 1.5em;
	color: #fff;
	border-radius: 5em;
	background-color: rgba(0,0,0,.4);
	bottom: 2%;
}
.jvectormap-zoomin {
	left: 48%;
}
.jvectormap-zoomout {
	left: 52%;
}
*/
#about {
  justify-content: space-between; }
  #about .grid {
    max-height: 600px; }
  #about .info-panel {
    padding: 1em;
    background-color: #3A3A9D;
    color: #fff;
    margin-bottom: 5em; }
    #about .info-panel h2 {
      margin: 0; }
  #about .business-panel {
    align-self: flex-end;
    padding-left: 3em; }
    #about .business-panel .about-icon {
      height: 4em; }
      #about .business-panel .about-icon img {
        width: 30%; }
        #about .business-panel .about-icon img.bigger {
          width: 40%; }
    #about .business-panel h3 {
      color: #3A3A9D; }
    #about .business-panel .column {
      padding: 1em 1em 0;
      margin: 0; }
      #about .business-panel .column p {
        margin-bottom: 0; }
      #about .business-panel .column:first-of-type {
        padding-left: 0; }
      #about .business-panel .column:last-of-type {
        padding-right: 0; }
  @media (max-width: 768px) {
    #about .grid {
      max-height: initial; }
    #about .info-panel {
      margin-bottom: 0; }
      #about .info-panel h2 {
        text-align: center;
        margin: .5em 0 2em; }
      #about .info-panel br {
        display: none; }
      #about .info-panel p:last-of-type {
        margin-bottom: 0; }
    #about .business-panel {
      padding: 3em 0 0; }
      #about .business-panel > h3 {
        text-align: center; }
      #about .business-panel .column {
        display: flex;
        justify-content: space-between;
        margin: 1em 0 2em; }
        #about .business-panel .column div.about-icon {
          width: 30%;
          height: auto;
          display: flex;
          justify-content: center; }
          #about .business-panel .column div.about-icon img {
            width: 80%; }
            #about .business-panel .column div.about-icon img.bigger {
              margin-left: 10%;
              width: 75%; }
        #about .business-panel .column div:last-of-type {
          width: 65%; }
        #about .business-panel .column, #about .business-panel .column:first-of-type, #about .business-panel .column:last-of-type {
          padding: 0; }
        #about .business-panel .column h3, #about .business-panel .column p {
          margin: 0; } }
  @media (min-width: 769px) {
    #about.animated .info-panel {
      animation: fade-in 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      animation-delay: .5s; }
    #about.animated .business-panel h3 {
      animation: fade-in 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      animation-delay: 1.5s; }
    #about.animated .business-panel .column {
      animation: fade-in 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
      #about.animated .business-panel .column:nth-of-type(1) {
        animation-delay: 2s; }
      #about.animated .business-panel .column:nth-of-type(2) {
        animation-delay: 2.5s; }
      #about.animated .business-panel .column:nth-of-type(3) {
        animation-delay: 3s; } }

#contact {
  background-color: #3A3A9D;
  color: #fff;
  position: relative; }
  #contact .container {
    width: 100%; }
  #contact .grid .column {
    padding: 0; }
  #contact .grid h3 {
    color: #83D0F4;
    text-transform: uppercase;
    margin: 0; }
  #contact .grid .contact-info {
    border-right: 2px solid white; }
    #contact .grid .contact-info h2 {
      margin: 0 0 2em; }
    #contact .grid .contact-info p {
      line-height: initial;
      margin: .5em 0; }
    #contact .grid .contact-info a {
      color: white; }
  #contact .grid .contact-form-container {
    position: relative; }
    #contact .grid .contact-form-container .contact-form {
      display: block;
      margin-left: 10em;
      position: relative;
      color: white; }
      #contact .grid .contact-form-container .contact-form label, #contact .grid .contact-form-container .contact-form input, #contact .grid .contact-form-container .contact-form textarea {
        transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        touch-action: manipulation;
        position: relative; }
      #contact .grid .contact-form-container .contact-form label {
        z-index: 1;
        display: inline-block;
        text-transform: uppercase;
        font-size: .8em; }
      #contact .grid .contact-form-container .contact-form input[type="text"], #contact .grid .contact-form-container .contact-form input[type="number"], #contact .grid .contact-form-container .contact-form input[type="email"], #contact .grid .contact-form-container .contact-form textarea {
        -webkit-appearance: none;
        background-color: rgba(58, 58, 157, 0);
        border: 0;
        border-bottom: 2px solid #83D0F4;
        border-radius: 0;
        box-sizing: border-box;
        padding: .5em 1em;
        width: 100%;
        color: white;
        -webkit-appearance: none;
        z-index: 2;
        font-size: 1em; }
        #contact .grid .contact-form-container .contact-form input[type="text"]:focus, #contact .grid .contact-form-container .contact-form input[type="number"]:focus, #contact .grid .contact-form-container .contact-form input[type="email"]:focus, #contact .grid .contact-form-container .contact-form textarea:focus {
          outline: 0; }
        #contact .grid .contact-form-container .contact-form input[type="text"]::placeholder, #contact .grid .contact-form-container .contact-form input[type="number"]::placeholder, #contact .grid .contact-form-container .contact-form input[type="email"]::placeholder, #contact .grid .contact-form-container .contact-form textarea::placeholder {
          opacity: 0;
          transition: inherit; }
        #contact .grid .contact-form-container .contact-form input[type="text"]:focus::placeholder, #contact .grid .contact-form-container .contact-form input[type="number"]:focus::placeholder, #contact .grid .contact-form-container .contact-form input[type="email"]:focus::placeholder, #contact .grid .contact-form-container .contact-form textarea:focus::placeholder {
          opacity: 1; }
        #contact .grid .contact-form-container .contact-form input[type="text"]:placeholder-shown + label, #contact .grid .contact-form-container .contact-form input[type="number"]:placeholder-shown + label, #contact .grid .contact-form-container .contact-form input[type="email"]:placeholder-shown + label, #contact .grid .contact-form-container .contact-form textarea:placeholder-shown + label {
          cursor: text;
          transform-origin: left bottom;
          transform: translate(1.33em, 2em);
          letter-spacing: .15em; }
        #contact .grid .contact-form-container .contact-form input[type="text"]:not(:placeholder-shown) + label, #contact .grid .contact-form-container .contact-form input[type="text"]:focus + label, #contact .grid .contact-form-container .contact-form input[type="number"]:not(:placeholder-shown) + label, #contact .grid .contact-form-container .contact-form input[type="number"]:focus + label, #contact .grid .contact-form-container .contact-form input[type="email"]:not(:placeholder-shown) + label, #contact .grid .contact-form-container .contact-form input[type="email"]:focus + label, #contact .grid .contact-form-container .contact-form textarea:not(:placeholder-shown) + label, #contact .grid .contact-form-container .contact-form textarea:focus + label {
          transform: translate(0, 0);
          cursor: pointer;
          color: #83D0F4;
          letter-spacing: 0; }
      #contact .grid .contact-form-container .contact-form input[data-valid="error"], #contact .grid .contact-form-container .contact-form textarea[data-valid="error"] {
        border-color: red; }
      #contact .grid .contact-form-container .contact-form textarea {
        margin-top: 1em;
        border: 2px solid #83D0F4;
        height: 6em;
        padding: .5em 1em;
        box-sizing: border-box;
        resize: vertical; }
        #contact .grid .contact-form-container .contact-form textarea:placeholder-shown + label {
          transform: translate(1.33em, 3.67em); }
        #contact .grid .contact-form-container .contact-form textarea:not(:placeholder-shown) + label, #contact .grid .contact-form-container .contact-form textarea:focus + label {
          transform: translate(0, 0.5rem);
          cursor: pointer; }
      #contact .grid .contact-form-container .contact-form .row {
        display: flex;
        justify-content: space-between; }
        #contact .grid .contact-form-container .contact-form .row .input-container {
          margin-bottom: 1em;
          display: flex;
          flex-flow: column-reverse;
          width: 45%; }
          #contact .grid .contact-form-container .contact-form .row .input-container.full-width {
            width: 100%; }
          #contact .grid .contact-form-container .contact-form .row .input-container .error {
            text-align: right;
            font-size: .8em;
            font-style: oblique; }
        #contact .grid .contact-form-container .contact-form .row:first-of-type .input-container {
          margin-bottom: .2em; }
      #contact .grid .contact-form-container .contact-form .btn-container {
        display: flex;
        align-items: center; }
        #contact .grid .contact-form-container .contact-form .btn-container .btn {
          display: inline-block; }
        #contact .grid .contact-form-container .contact-form .btn-container .submit-message-failure {
          margin: 1em 1em 0;
          display: none; }
      #contact .grid .contact-form-container .contact-form .submit-message-success {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center; }
      #contact .grid .contact-form-container .contact-form.success .btn, #contact .grid .contact-form-container .contact-form.success input, #contact .grid .contact-form-container .contact-form.success textarea, #contact .grid .contact-form-container .contact-form.success label, #contact .grid .contact-form-container .contact-form.success .error {
        opacity: 0; }
      #contact .grid .contact-form-container .contact-form.success .submit-message-success {
        display: flex; }
      #contact .grid .contact-form-container .contact-form.failure .submit-message-failure {
        display: block; }
      #contact .grid .contact-form-container .contact-form.disabled {
        filter: blur(4px); }
        #contact .grid .contact-form-container .contact-form.disabled .btn, #contact .grid .contact-form-container .contact-form.disabled input, #contact .grid .contact-form-container .contact-form.disabled textarea, #contact .grid .contact-form-container .contact-form.disabled label, #contact .grid .contact-form-container .contact-form.disabled .error {
          touch-events: none;
          pointer-events: none; }
    #contact .grid .contact-form-container .disabled-message {
      display: none; }
    #contact .grid .contact-form-container .contact-form.disabled + .disabled-message {
      position: absolute;
      z-index: 1;
      width: calc(100% - 10em);
      height: 100%;
      top: 0;
      left: 10em;
      display: flex;
      justify-content: center;
      align-items: center; }
      #contact .grid .contact-form-container .contact-form.disabled + .disabled-message div {
        padding: 1em;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.4);
        text-align: center; }
        #contact .grid .contact-form-container .contact-form.disabled + .disabled-message div p {
          margin: 0; }
  @media (max-width: 768px) {
    #contact .grid .column h3 {
      padding-top: 1.5em; }
    #contact .grid .column.contact-info {
      border: none; }
      #contact .grid .column.contact-info h2 {
        text-align: center;
        margin: 1.5em 0; }
      #contact .grid .column.contact-info br {
        display: none; }
    #contact .grid .column.contact-form-container {
      margin-bottom: 4em; }
      #contact .grid .column.contact-form-container .contact-form {
        margin: 0; }
        #contact .grid .column.contact-form-container .contact-form .row {
          display: block; }
          #contact .grid .column.contact-form-container .contact-form .row .input-container {
            width: 90%;
            margin: 0 auto; }
            #contact .grid .column.contact-form-container .contact-form .row .input-container input[type="text"], #contact .grid .column.contact-form-container .contact-form .row .input-container input[type="number"], #contact .grid .column.contact-form-container .contact-form .row .input-container input[type="email"], #contact .grid .column.contact-form-container .contact-form .row .input-container textarea {
              padding: .5em; }
      #contact .grid .column.contact-form-container .btn-container {
        display: block;
        text-align: center; }
      #contact .grid .column.contact-form-container .contact-form.disabled + .disabled-message {
        width: 100%;
        left: 0; }
        #contact .grid .column.contact-form-container .contact-form.disabled + .disabled-message div {
          background-color: rgba(0, 0, 0, 0.5); } }
  @media (min-width: 769px) {
    #contact .contact-form h3 {
      display: none; } }

.copyright {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-bottom: 1em;
  font-size: .8em; }

html, body {
  background-color: #FFF;
  font-family: 'Lato', sans-serif;
  margin: 0; }

h1, h2, h3, h4, h5 {
  font-family: 'Varela', sans-serif; }

p {
  margin-block-start: 1.2em;
  margin-block-end: 1.2em;
  line-height: 1.5em; }

.scroll-snap-container {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory; }
  .scroll-snap-container .section {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start; }
  @media (max-width: 768px) {
    .scroll-snap-container {
      -ms-scroll-snap-type: none;
      scroll-snap-type: none; }
      .scroll-snap-container .section {
        height: initial;
        padding-top: 0;
        align-items: unset; }
        .scroll-snap-container .section .container {
          max-width: 24em; } }

.container {
  max-width: 1024px;
  padding: 1em;
  margin: 0 auto; }
  .container.bigger {
    max-width: 1200px; }
  .container.no-max-width {
    max-width: initial; }
  .container.no-padding {
    padding: 0; }

.column {
  padding: 1em;
  box-sizing: border-box; }
  .column img {
    width: 100%; }
  .column.no-padding {
    padding: 0; }
  @media (max-width: 768px) {
    .column {
      padding: 0; } }

.section-title {
  text-align: center; }
  .section-title h2 {
    color: #3A3A9D; }

.light-blue-underline {
  border-bottom: 4px solid #83D0F4;
  padding-bottom: .25em;
  box-sizing: border-box;
  margin-bottom: 1.5em; }

.btn {
  position: relative;
  margin-top: 1em;
  padding: 1em 2em;
  font-size: 1.2em;
  color: #FFF;
  background-color: #3A3A9D;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  transition: background-color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  .btn:hover, .btn:focus, .btn:active {
    background-color: #83D0F4; }
  .btn.light-blue {
    color: #000;
    background-color: #83D0F4; }
    .btn.light-blue:hover, .btn.light-blue:focus, .btn.light-blue:active {
      background-color: #DDDEDE; }

#bad-browser-warning {
  display: none;
  position: fixed;
  bottom: 1em;
  left: .5em;
  right: .5em;
  opacity: .9;
  font-size: .9em; }
  #bad-browser-warning div {
    margin: 0 auto;
    background-color: rgba(50, 50, 50, 0.8);
    border: 2px solid #323232;
    border-radius: 3px;
    max-width: 500px;
    text-align: center; }
    #bad-browser-warning div p {
      display: block;
      color: white;
      margin: 0; }
  #bad-browser-warning.show {
    display: block; }

@media (max-width: 768px) {
  h1 {
    font-size: 1.5em; }

  h2, h3 {
    margin-top: 0; } }

/*# sourceMappingURL=style.css.map */
