@import url("https://fonts.googleapis.com/css?family=Lato|Varela&display=swap");
.preload * {
  -webkit-transition: none !important;
  transition: none !important; }

.grid {
  display: flex;
  flex-wrap: wrap; }
  .grid.column-center .column {
    text-align: center; }

.column {
  flex: 1; }

.big {
  flex: 1.5; }

.bigger {
  flex: 2; }

.halves .column {
  flex: 0 0 50%; }

.thirds .column {
  flex: 0 0 33.3333%; }

.fourths .column {
  flex: 0 0 25%; }

.fifths .column {
  flex: 0 0 20%; }

@media (max-width: 900px) {
  .grid {
    display: block; } }
body[class^="fp-viewing-"] nav {
  position: fixed;
  width: 100%;
  z-index: 9; }
  body[class^="fp-viewing-"] nav .nav-container {
    margin: 0 auto;
    max-width: 1000px;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    body[class^="fp-viewing-"] nav .nav-container .left .nav-logo img {
      height: 2.5em;
      transition: filter .3s linear;
      transition-delay: .6s; }
    body[class^="fp-viewing-"] nav .nav-container .right .nav-item {
      display: inline-block;
      margin-left: 2em;
      padding: .5em 0;
      border-bottom: 3px solid rgba(0, 0, 0, 0);
      transition: border-bottom .3s linear;
      transition-delay: .6s; }
      body[class^="fp-viewing-"] nav .nav-container .right .nav-item a {
        color: #000;
        text-decoration: none;
        transition: color .3s linear;
        transition-delay: .6s; }
      body[class^="fp-viewing-"] nav .nav-container .right .nav-item.active {
        border-color: #3A3A9D; }

body.fp-viewing-home nav .nav-container .left .nav-logo img, body.fp-viewing-services nav .nav-container .left .nav-logo img, body.fp-viewing-contact nav .nav-container .left .nav-logo img, body.dark-bg nav .nav-container .left .nav-logo img {
  filter: brightness(0) invert(1); }
body.fp-viewing-home nav .nav-container .right .nav-item a, body.fp-viewing-services nav .nav-container .right .nav-item a, body.fp-viewing-contact nav .nav-container .right .nav-item a, body.dark-bg nav .nav-container .right .nav-item a {
  color: #fff; }
body.fp-viewing-home nav .nav-container .right .nav-item.active, body.fp-viewing-services nav .nav-container .right .nav-item.active, body.fp-viewing-contact nav .nav-container .right .nav-item.active, body.dark-bg nav .nav-container .right .nav-item.active {
  border-color: #fff; }

#map-section {
  text-align: center; }
  #map-section h2 {
    color: #3A3A9D; }
  #map-section .map-container {
    width: 100%;
    height: 75vh;
    margin: 0 auto; }
    #map-section .map-container #jvectormap {
      width: 100%;
      height: 100%;
      color: #c5c5c5; }

.jvectormap-tip {
  background: white;
  color: #292929;
  border: solid 2px #3A3A9D;
  border-radius: 0;
  padding: .25em;
  font-size: initial; }
  .jvectormap-tip .company-name {
    font-weight: bold;
    font-size: 1.2em; }

.jvectormap-container:hover .jvectormap-zoomin, .jvectormap-container:hover .jvectormap-zoomout {
  display: block; }

.jvectormap-zoomin, .jvectormap-zoomout {
  display: none;
  height: 1.5em;
  width: 1.5em;
  line-height: 1.5em;
  font-size: 1.5em;
  color: #fff;
  border-radius: 5em;
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 2%; }

.jvectormap-zoomin {
  left: 48%; }

.jvectormap-zoomout {
  left: 52%; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #FFF;
  font-family: 'Lato', sans-serif; }

h1, h2, h3, h4, h5 {
  fontfont-family: 'Varela', sans-serif; }

p {
  margin-block-start: 1.2em;
  margin-block-end: 1.2em;
  line-height: 1.5em; }

.container {
  max-width: 1000px;
  padding: 1em 3em;
  margin: 0 auto; }
  .container.bigger {
    max-width: 1200px; }
  .container.no-max-width {
    max-width: initial; }
  .container.no-padding {
    padding: 0; }

.column {
  padding: 1em;
  box-sizing: border-box; }
  .column img {
    width: 100%; }
  .column.no-padding {
    padding: 0; }

.hidden {
  display: none; }

.section-title {
  text-align: center; }
  .section-title h2 {
    color: #3A3A9D; }

hr {
  background-color: #83D0F4;
  border: none;
  height: .25em;
  margin: 1em auto; }
  hr.left {
    margin: 1em 0; }

#home-section {
  background-color: #3A3A9D;
  -webkit-clip-path: ellipse(94% 53% at 50% 40%);
  clip-path: ellipse(94% 53% at 50% 40%); }
  #home-section .info-panel {
    color: #fff; }
    #home-section .info-panel h1 {
      margin-top: 0; }
    #home-section .info-panel .btn {
      margin-top: 3em;
      background-color: #3A3A9D;
      padding: 1em;
      font-size: 1.2em;
      color: #FFF;
      border: none; }
      #home-section .info-panel .btn.accent-blue {
        color: #000;
        background-color: #83D0F4; }
  #home-section .slide-container {
    text-align: center;
    width: 70%; }
    #home-section .slide-container * {
      margin: 0 auto; }
    #home-section .slide-container .frame-container {
      border: 1vw solid;
      border-image-source: url("../img/slides/slide_frame.png");
      border-image-slice: 30;
      background-color: black;
      border-radius: 20px;
      box-shadow: 35px 10px 72px -16px rgba(0, 0, 0, 0.44); }
      #home-section .slide-container .frame-container img {
        background-color: black;
        display: block;
        border-radius: .4em; }
    #home-section .slide-container .pager-container .pager .bb-link-wrapper {
      display: inline-block;
      margin: 1em .5em; }
      #home-section .slide-container .pager-container .pager .bb-link-wrapper a {
        color: #fff;
        text-decoration: none; }
      #home-section .slide-container .pager-container .pager .bb-link-wrapper.activePanel a {
        color: #83D0F4; }

#eDetailers-section .info-panel {
  margin-right: 1em;
  background-color: #F4F4F4;
  padding: 1em 2em 2em; }
  #eDetailers-section .info-panel h1 {
    color: #3A3A9D; }
  #eDetailers-section .info-panel p:last-of-type {
    margin-bottom: 0; }
#eDetailers-section .service-panel {
  background-color: #3A3A9D;
  margin-top: 1em;
  color: #FFF; }
  #eDetailers-section .service-panel .column hr {
    height: .125em;
    width: 3em;
    margin: 1em auto .25em; }

.no-vert .fp-tableCell {
  vertical-align: unset; }

#certifications-section {
  background-color: #EFEFEF;
  position: relative; }
  #certifications-section .section-title {
    margin: 5em 0 3em; }
    #certifications-section .section-title hr {
      width: 10em; }
  #certifications-section .column .cert-logo-container {
    margin: 1em;
    padding: 7em 0;
    border-radius: 15em;
    cursor: pointer; }
    #certifications-section .column .cert-logo-container img {
      max-width: 80%; }
    #certifications-section .column .cert-logo-container:hover {
      background-color: #ddd; }
    #certifications-section .column .cert-logo-container:active, #certifications-section .column .cert-logo-container.active {
      background-color: #3A3A9D; }
      #certifications-section .column .cert-logo-container:active img, #certifications-section .column .cert-logo-container.active img {
        opacity: 0; }
  #certifications-section #cert-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #3A3A9D;
    animation-duration: .7s;
    animation-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
    animation-fill-mode: both; }
    #certifications-section #cert-modal .modal-content {
      position: relative;
      display: none;
      margin: auto;
      width: 70%; }
      #certifications-section #cert-modal .modal-content .cert-content {
        padding: 5em;
        background-color: white;
        border-radius: 5px; }
        #certifications-section #cert-modal .modal-content .cert-content h3 {
          font-size: 1.6em;
          color: #3A3A9D;
          margin: 0 0 .25em;
          letter-spacing: 2px; }
          #certifications-section #cert-modal .modal-content .cert-content h3 span {
            border-bottom: 5px solid #83D0F4; }
        #certifications-section #cert-modal .modal-content .cert-content #veeva, #certifications-section #cert-modal .modal-content .cert-content #oce, #certifications-section #cert-modal .modal-content .cert-content #econtent {
          display: none; }
        #certifications-section #cert-modal .modal-content .cert-content #veeva .cert-icon-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-align: center; }
          #certifications-section #cert-modal .modal-content .cert-content #veeva .cert-icon-container .icon {
            display: inline-block;
            width: 33.3%;
            padding: 2em 0; }
            #certifications-section #cert-modal .modal-content .cert-content #veeva .cert-icon-container .icon img {
              width: 75%; }
      #certifications-section #cert-modal .modal-content .close-btn {
        position: absolute;
        top: -4.5em;
        right: -4em;
        color: #FFF;
        cursor: pointer; }
        #certifications-section #cert-modal .modal-content .close-btn span {
          font-size: 4em; }

#services-section {
  background-image: url("../img/service_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%; }
  #services-section .column {
    margin-left: .5em;
    margin-right: .5em; }
    #services-section .column h3 {
      margin-top: 0;
      font-size: 1.5em; }
  #services-section .development {
    background-color: #DDDEDE; }
    #services-section .development h3 {
      color: #3A3A9D; }
  #services-section .localisation {
    background-color: #3A3A9D;
    color: #FFF; }
    #services-section .localisation h3 {
      color: #83D0F4; }
  #services-section .translation {
    background-color: #ECEFF0; }
    #services-section .translation h3 {
      color: #3A3A9D; }
  #services-section .transcreation {
    background-color: #83D0F4; }
    #services-section .transcreation h3 {
      color: #fff; }

#how-we-work-section hr {
  width: 12em; }
#how-we-work-section .work-selector {
  padding: 0;
  color: #919191;
  cursor: pointer; }
  #how-we-work-section .work-selector span {
    padding: .5em .5em; }
  #how-we-work-section .work-selector .column:nth-of-type(1) {
    text-align: right; }
  #how-we-work-section .work-selector .active {
    color: #000; }
    #how-we-work-section .work-selector .active span {
      border-bottom: 3px solid black; }
#how-we-work-section .work-container {
  display: none; }
  #how-we-work-section .work-container .column h3 {
    color: #3A3A9D; }
  #how-we-work-section .work-container.active {
    display: flex; }
#how-we-work-section .btn-container {
  margin-top: 3em;
  text-align: center; }
  #how-we-work-section .btn-container button {
    font-size: 1.2em;
    outline: none;
    background-color: #3A3A9D;
    color: #fff;
    padding: 1em 3em; }

#about-section .column {
  margin: 0 1.5em; }
  #about-section .column .info-panel {
    padding: 1em;
    background-color: #3A3A9D;
    color: #fff; }
    #about-section .column .info-panel h2 {
      color: #fff; }
    #about-section .column .info-panel hr {
      width: 6em; }
#about-section .business-panel {
  padding-top: 12em; }
  #about-section .business-panel .about-icon {
    width: 50%;
    height: 5em; }
  #about-section .business-panel h3 {
    color: #3A3A9D; }
  #about-section .business-panel .column {
    padding: 1em;
    margin: 0; }

#contact-section {
  background-color: #3A3A9D;
  color: #fff; }
  #contact-section hr {
    width: 10em; }
  #contact-section h3 {
    color: #83D0F4;
    text-transform: uppercase; }

/*# sourceMappingURL=style.css.map */
